# Core (Discord)
disnake[discord]
git+https://github.com/Rapptz/discord-ext-menus

# Time
pendulum

# Database
motor==2.3.0
dnspython==2.0.0

# Error Handling/Debugging
sentry-sdk==0.19.2
psutil
jishaku

# other
tabulate

# code formatting/styling/linting deps
pre-commit==2.17.0
black==22.1.0
flake8==4.0.1
